
/* Style des body */

.body-home-page {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #000;
  }
  
  .contact-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: auto;
  }
  
  .body-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    color: #444;
  }
  
  .body-a-propos {
    background-color: #fff;
  }
  
  .bodysalles {
    background-color: #000;
  }
  .body-a-propos {
    background-color: #fff;
  }

  /* Textes */

  .text-block {
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
  }
  

/* Button */

  .block-de-bouton-epoque {
    position: absolute;
    bottom: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .bouton-home-page {
    position: fixed;
    bottom: 50px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    mix-blend-mode: multiply;
  }
  
  .bouton-home-page.w--current {
    position: fixed;
    bottom: 50px;
  }
  
  .titre-choisir-une-epoque {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  
  .heading-2 {
    text-align: center;
  }
  
  .sectionnormandie {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70%;
    min-height: 500px;
    margin-top: 10px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
  }
  
  .section-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30%;
    min-height: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
    background-color: #000;
  }
  
  .text-block-2 {
    margin-left: 5%;
    font-size: 20px;
    font-weight: 700;
  }
  
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .div-block {
    width: 100%;
    height: 100%;
  }
  
  .column {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
  }
  
  .column-2 {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
  }
  
  .text-block-3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .button-present {
    margin-right: 10px;
  }
  
  .button-present.w--current {
    margin-right: 0px;
    border-radius: 10px;
  }
  
  .bouton-pass {
    margin-left: 0px;
  }
  
  .bouton-pass.w--current {
    border-radius: 10px;
  }
  
  .button-futur {
    padding-left: 10px;
  }
  
  .button-futur.w--current {
    padding-left: 15px;
    border-radius: 10px;
  }
  
  .text-vivez-une-experience {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .homepagesectionmusee {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
  }
  
  .logo-du-musee {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #eee;
  }
  
  .paragraph {
    max-width: 758.515625px;
  }
  
  .paragraph-2 {
    display: block;
    max-width: 300px;
    margin-bottom: 0px;
    margin-left: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ebebeb;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }
  
  .div-block-home-logo-text {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .button {
    border-radius: 0px;
    background-color: transparent;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .button.w--current {
    margin-right: 50px;
  }
  
  .utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .utility-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  
  .utility-page-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .homepagesectionapropos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .homepagesectionboutique {
    height: 50vh;
  }
  
  .imagemusee {
    width: 500px;
    height: 250px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: auto;
  }
  
  .paragraph-3 {
    max-width: 250px;
  }
  
  .imageapropos {
    width: 500px;
    height: 250px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: auto;
  }
  
  .imageboutique {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .imageboutiaue {
    width: 500px;
    height: 250px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: auto;
  }
  
 
  
  .navbarsalle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .tabs-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  


  .w-tab-content {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .bloctab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .tabs {
    width: 100%;
    height: 100%;
    min-height: 1500px;
  }
  
  .tab-pane-tab-1 {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .tab-pane-tab-2 {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .tab-pane-tab-3 {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  
  
  .sectionapvideo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 1080px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  

  
  .w-tab-menu {
    position: relative;
  }

  .heading-3 {
    text-align: center;
  }
  
  .apropos-de-nous-cases {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .la-nature-a-lhonneur {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    max-width: 500px;
    min-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: #afafaf;
    color: #d6d6d6;
  }
  
  .columns-2 {
    width: 100vw;
    height: 100%;
  }
  
  .div-block-2 {
    border-radius: 8px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: auto;
  }
  
  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
  }
  
  .separator-text {
    width: 2px;
    height: 15px;
    background-color: #fff;
  }
  
  .div-block-4 {
    width: 50px;
    height: 50px;
    background-color: #69ff3b;
    color: transparent;
  }
  
  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .paragraph-4 {
    max-width: 250px;
  }
  
  .icon {
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: contain;
  }
  
  .column-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .le-projet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    min-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #202020;
  }
  
  .heading-4 {
    text-align: center;
  }
  
  .image {
    position: absolute;
    top: 0px;
    z-index: 10;
  }
  
  .image-2 {
    position: absolute;
    top: 0px;
    height: auto;
    max-height: 900px;
  }
  
  @media screen and (min-width: 1920px) {
    .navbar {
      border-bottom: 2px none #fff;
      background-color: #000;
    }
  
    .paragraph-2 {
      max-width: 700px;
      margin-left: 40px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
    }
  
    .button {
      padding-right: 0px;
      padding-left: 0px;
      color: #fff;
    }
  
    .imagemusee {
      width: 700px;
      height: 500px;
      border-radius: 10px;
      background-color: transparent;
      background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
      background-position: 0px 0px;
      background-size: auto;
    }
  
    .imageapropos {
      width: 700px;
      height: 500px;
      border-radius: 10px;
    }
  
    .imageboutiaue {
      width: 700px;
      height: 500px;
      border-radius: 10px;
    }
  
    .div-block-3 {
      background-color: #494949;
    }
  
    .le-projet {
      border-radius: 10px;
    }
  
    .video {
      background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
      background-position: 0px 0px;
      background-size: auto;
    }
  
    .section-contact {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 500px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .div-block-5 {
      width: 500px;
      height: 250px;
    }
  
    .button-2 {
      border-radius: 10px;
    }
  
    .bouton2 {
      border-radius: 10px;
      background-color: #000;
    }
  
    .bock-contact-blur {
      width: 1000px;
      height: 500px;
      border-radius: 10px;
      background-color: rgba(78, 78, 78, 0.28);
    }
  
    .columns-3 {
      height: 100%;
    }
  
    .text-field {
      border-radius: 10px;
    }
  
    .text-field-2 {
      border-radius: 10px;
    }
  
    .textarea {
      border-radius: 10px;
    }
  
    .plan-contact {
      background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
      background-position: 0px 0px;
      background-size: auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .tab-pane-tab-3 {
      padding-top: 50px;
    }
  }



  /* Merge */